
@{
    ViewData["Title"] = "AddPost";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@model Post

<h2>AddPost</h2>



<form asp-action="AddPost" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="title"></label>
        <input asp-for="title" class="form-control" />
        <span asp-validation-for="title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="content"></label>
        <textarea asp-for="content" id="editor" style="height:500px"></textarea>
        <span asp-validation-for="content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">发布</button>
        </div>
    </div>
</form>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script>

    CKEDITOR.replace( 'editor' );

</script>
<style>
    .ck-editor {
        min-width: 800px !important;
    }

    .ck-content {
        min-height: 400px;
    }
</style>